<h1>create post</h1>
<hr>
	{{!-- {{blog-post}} --}}
<form>
  	<div class="form-group">
    	<label for="exampleInputEmail1">title</label>
    	{{input name="search" value=model.title placeholder="title" class="form-control"  }}
  	</div>
  	<div class="form-group">
    	<label for="exampleInputPassword1">body</label>
    	{{textarea class="form-control" value=model.body name="body" rows="5" id="body"  }}
  	</div>
  	<button {{action 'create' model}} class="btn btn-default">create</button>
</form>
{{outlet}}